#logo{
    position: relative;
    left: 500px;
    top: 5px;
}

#search{
    position: relative;
    width: 300px;
    margin-top: 15%;
    margin-left: 75%;
}

#search-icon{
    position: relative;
    top: -30px;
    left: 325px;
    margin-left: 20%;
}