 <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class = navbar-nav>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a class="nav-item nav-link" routerLink="/">Home</a>
        </div>
    </div>

    <!-- logout -->
   
    <div class = navbar-nav>
        <div class="col-xs-12 col-sm-6 col-md-4">
           <!-- <a class="nav-item nav-link" (click) = "logout()">Logout</a> -->
           <div>
            <a class="nav-item nav-link" routerLink = "login" (click) = "logIn()">LogIn</a>
        </div>      
        </div>
    </div>

         
    <!-- logo -->

    <div class = navbar-nav>
        <div id = "logo">
            <ngx-avatar src = "/assets/images/my-icon.png" class="col-xs-12 col-sm-6 col-md-4"></ngx-avatar>
        </div> 
    </div>    
</nav>
  
