#logo{
    position: relative;
    padding-left: 500px;
}

#search{
    position: relative;
    width: 500px;
    margin-top: 15%;
    margin-left: 75%;
}

#search-icon{
    position: relative;
    top: -30px;
    left: 325px;
    margin-left: 175%;
}