<h2>Login</h2>

<form [formGroup] = "loginForm" (ngSubmit) = "onSubmit()">
    <div class="form-group">
                <input type="text" placeholder="username" formControlName="username" class="form-control" [ngClass] = "{ 'is-invalid': submitted && f.username.errors}"/>
    <span class = "fa fa-user fa-lg input-icons-text-input"></span>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>

    <div class="form-group">
        <!-- <label for="password">Password</label> -->
            <input type="password" placeholder = "password" formControlName="password" class="form-control" [ngClass] = "{ 'is-invalid': submitted && f.password.errors}"/>
            <span class = "fa fa-lock fa-lg input-icons-text-input"></span>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>

    <div class = "form-group">
            <input type="checkbox"/>
            <span>Remember Me</span>
            <a href= " " id="show-password-text">Show Password</a>
    </div>

    <div class = "form-group">
            <a href= " " id="forgot-password-text">Forgot Password?</a>
    </div>

    <div class = "form-group">
       <span>By proceeding, you agree to our <a href = " "> Terms of Use</a> and confirm you have read our <a href="">Privacy Policy npm</a>.</span>
    </div>

        <div class="form-group">
            <button [disabled] = "loading" class="btn btn-primary submit-button">
              <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->  
                Login
            </button>
            <!-- <a routerLink = "/register" class= "btn btn-link">Register</a> -->
        </div>
</form>