<div class = "form-group btn-group row">
    <div class= "col-lg-12">
         <button class = "btn form-control btn-primary btn-lg btn-social-icon btn-google" id="button_google" (click) = "signInWithGoogle();"><i class= "fa fa-google"></i>LogIn with Google</button>
    </div>
   
    <div class = "col-lg-12">
        <button class = "btn form -control btn-primary btn-lg btn-social-icon btn-facebook" id="button_facebook" (click) = "signInWithFB();"><i class= "fa fa-facebook"></i>LogIn with Facebook</button>
    </div>
</div>



