#button_google{
    background-color: rgb(252, 248, 248);
    border-color: rgb(252, 248, 248);
    text-align: center;
    color: black;
    height: 45px;
    width: 200%;
    font-size: medium;
}

#button_facebook{
    background-color: #385998;
    border-color: #385998;
    text-align: center;
    height: 45px;
    width: 200%;
    font-size: medium;
}