<!-- <h1>Hi {{currentUser.firstName}}</h1>
<p>You are logged in with Angular</p>
<h3>All registered users:</h3>

<ul>
    <li *ngFor = "let user of users">
        {{user.username}}({{user.firstName}}{{user.lastName}})
        <a (click) = "deleteUser"

    </li>
</ul> -->

<div class= "container">
    <div class= "row">
        <div class= "col justify-content-center">
                <img src= "/assets/images/image1.jpg" alt="Responsive image">
        </div>
    </div>
</div>

<div class= "container">
        <div class= "row">
            <div class= "col justify-content-center">
                    <h1> Welcome to foodHub</h1>
            </div>
        </div>
    </div>