<!-- <h1>Hi {{currentUser.firstName}}</h1>
<p>You are logged in with Angular</p>
<h3>All registered users:</h3>

<ul>
    <li *ngFor = "let user of users">
        {{user.username}}({{user.firstName}}{{user.lastName}})
        <a (click) = "deleteUser"

    </li>
</ul> -->
<div class="col-xs-12 col-sm-6 col-md-4">
    <div [ngStyle] = "{background: 'url(/assets/images/image1.jpg)'}"></div>
</div>
<!-- </div>
    <img  class="img-fluid" src= "/assets/images/image1.jpg" alt="Responsive image">
</div> -->

<div>
       <h1> Welcome to foodHub</h1>
</div>
